.chat-input {
	@apply flex flex-row items-center;
	width: 411px;
	height: 42px;
	background: #FFFFFF;
	border-radius: 5px;
	padding: 0 15px;
  box-shadow: 0px 2px 6px 0px rgba(47, 65, 146, 0.15);

}
.chat-input-read::-webkit-input-placeholder {
  color: #777777;
}
.chat-input-read:-moz-placeholder {/* Firefox 18- */
  color: #777777;
}
.chat-input-read::-moz-placeholder{/* Firefox 19+ */
  color: #777777;
}
.chat-input-read:-ms-input-placeholder {
  color: #777777;
}

.chat-input-unread::-webkit-input-placeholder {
  color: #38AE48;
}
.chat-input-unread:-moz-placeholder {/* Firefox 18- */
  color: #38AE48;
}
.chat-input-unread::-moz-placeholder{/* Firefox 19+ */
 color: #38AE48;
}
.chat-input-unread:-ms-input-placeholder {
  color: #38AE48;
}

.chat-input > input {
	flex: 1;
	border: none;
	outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}

.chat-input > input[disabled]{
  cursor: not-allowed;
}

.chat-input > button {
	font-size: 12px;
	font-weight: 400;
	color: #2D353A;
  outline: none;
  border: none;
}

.chat-input > button:last-child{
	margin-left: 25px;
}

.chat-panel {
  width: 411px;
  height: 257px;
  background: rgba(8, 8, 8, 0.65);
  border-radius: 5px;
  padding: 15px;
  overflow-y: scroll;
}

.chat-message {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  
}

.chat-message{
  margin-bottom: 10px;
}
.muted-tips {
  font-size: 14px;
  font-weight: 600;
  color: #EE8B31;
}