@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;

* {
    @apply font-scenario;
}

.fixed-container {
    z-index: 999;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}