/* FIXME: etxtract colors to tailwind config */

.biz-header {
  height: 80px;
  padding: 0 30px;
  background: #131313;
  position: relative;
}
.biz-header_lf {
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
}
.biz-header_md {
  font-size: 17px;
  font-weight: 400;
  color: #FFFFFF;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.biz-header_md > .biz-header_md-join, .biz-header_md-stop{
  width: 128px !important;
  height: 40px !important;
  background: #38AE48 !important;
  border-radius: 20px !important;
  @apply flex items-center justify-center;
}
.biz-header_md > .biz-header_md-done {
  width: 128px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: rgba(139, 139, 139, 0.5);
  border-radius: 7px;
}
.biz-header_md-join > img {
  width: 12px;
  height: 15px;
  margin-right: 10px;
}
.biz-header_md-stop > img {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}
.biz-header_rh {
  @apply flex items-center;
}

.biz-header_rh-roster {
  width: 107px !important;
  height: 31px !important;
  border-radius: 19px !important;
  border: 1px solid #38AE48 !important;
  background: transparent !important;

}
.biz-header_rh-roster > span {
  font-size: 15px;
  font-weight: 600;
  color: #38AE48;
}

.biz-header_rh-item {
  margin-left: 60px;
  @apply flex items-center;
}
.signal > img {
  width: 20px;
  height: 14px;
}
.signal > span:first-of-type{
  font-size: 15px;
  font-weight: 600;
  color: #38AE48;
  margin-left: 6px;
}
.signal > span:last-of-type{
  font-size: 15px;
  font-weight: 400;
  color: #FFFFFF;
  margin-left: 5px;
}

.fullscreen > img {
  width: 17px;
  height: 17px;
}
.fullscreen > span {
  font-size: 15px;
  font-weight: 400;
  color: #FFFFFF;
  margin-left: 10px;
}
.exit > img {
  width: 19px;
  height: 20px;
}
.exit > span {
  font-size: 15px;
  font-weight: 600;
  color: #888888;
  margin-left: 10px;
}