.zoom-position-mid {
  position: absolute;
  right: 68px;
  bottom: 104px;
}

.whiteboard {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2E2E2E;
}

.whiteboard > #netless {
  position: absolute;
  left: 20px;
  top: 20px;
  right: 20px;
  bottom: 83px;
  background: white;
  border-radius: 5px;
}

.card-loading-position {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
}

.pin-right {
  position: absolute;
  right: 40px;
  bottom: 20px !important;
}

.pin-left {
  position: absolute;
  left: 40px;
  bottom: 20px; 
}
.end-class-position {
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}