.roster-modal .modal-content {
  padding: 0 1px;
}

.student-username .roster-username {
  margin: 0;
}

.student-username {
  @apply flex flex-row items-center;
}

.student-username>span{
  font-size: 15px;
  font-weight: 400;
  color: #2D353A;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.student-username>img {
  width: 14px;
  height: 16px;
  margin-left: 10px;
}


.roster-table .table-row-item .table-col-item:first-child {
  flex:1;
  min-width: 0;
}

.roster-username {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.reward {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.roster-wrap > .main-title {
  @apply flex flex-row items-center;
}

.roster-wrap > .main-title > label {
  font-size: 22px;
  font-weight: 600;
  color: #2D353A;
}
.roster-wrap > .main-title > div {
  font-size: 17px;
  font-weight: 600;
  color: #2D353A;
  margin-left: 15px;
}

.roster-wrap > .main-title > div > span{
  color: rgba(56, 174, 72, 1);
}


.roster-wrap .btn-pin {
  top: 13px !important;
  right: 20px !important;
}

.roster-wrap {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(47,65%,146%,15%);
  border: 1px solid #e3e3ec;
  position: relative;
  overflow-y: hidden;
  padding: 13px 20px;
  width: 826px;
  height: 528px;
  border-radius: 5px;
  @apply flex flex-col;
}

.roster-user-list-wrap .main-title {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  background: #f9f9fc;
  border: 0;
  outline: 0;
  /* cursor: pointer; */
  color: #586376;
  width: 100%;
  padding-left: 19px;
}

.roster-user-list-wrap {
  width: 360px;
  height: 100%;
  background: #fff;
  border-radius: 6px;
  position: relative;
  overflow-y: hidden;
}

.roster-user-list-wrap .table-header {
  color: #7B88A0;
  padding-left: 0;
}

.roster-wrap .table-header {
  height: 33px  !important;
  background: #F9F9F9  !important;
  font-size: 15px !important;
  font-weight: 500  !important;
  color: #787878  !important;
  flex: none !important;
  padding: 0 !important;
}


/* .roster-wrap .input-search {
  @apply flex flex-row items-center;
  width: 240px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #B2B2B2;
}
.roster-wrap .input-search > img {
  width: 10px;
  height: 10px;
}
.roster-wrap .input-search > input {
  flex: 1;
} */
.roster-header_lf .input-wrapper{
  width: 240px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #B2B2B2;
}
.roster-header_lf .input-prefix > img{
  width: 20px;
  height: 20px;
}

.roster-header_lf input {
}
.roster-wrap .roster-container {
  @apply flex flex-col;
  flex: 1;
}

.roster-wrap .roster-header {
  height: 40px;
  margin-top: 20px;
  @apply flex flex-row items-center justify-between;
}

.roster-wrap .roster-header > .roster-header_lf{

}
.roster-wrap .roster-header > .roster-header_rh{

}
.roster-wrap .roster-header > .roster-header_rh > button{
  width: 80px;
  height: 32px;
  background: #EFEFEF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  margin-left: 7px;
  font-size: 14px;
  font-weight: 400;
  color: #2D353A;
}

.roster-wrap .table-col-item > span img{
  width: 19px;
  height: 19px;
  cursor: pointer;
}
.roster-container .roster-table {
  flex: 1;
  min-height: 0;
  margin-top: 20px;
  width: 100%;
}

.roster-table .table-container .table-row-item .table-col-item {
  @apply box-content;
  color: #191919;
  height: 60px;
}

.roster-table .table-container .table-row-item .iconfont {
  font-size: 22px;
}

.roster-table .muted {
  color: #f04c36;
}

.roster-table .un-muted {
  color: #0073ff;
}

.roster-table .disabled {
  color: #979797 !important;
}

.roster-table .camera-enabled,
.roster-table .mic-enabled {
  color: #0073ff;
}

.whiteboard-granted-svg, .podium-svg {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  padding: 15px;
  cursor: pointer;
}

.whiteboard-granted-svg:hover, .podium-svg:hover {
  background-color: #f0f0f7;
}

.roster-table .whiteboard-granted {
  background-image: url('../icon/assets/svg/teacher-granted-active.svg');
}

.roster-table .whiteboard-no_granted {
  background-image: url('../icon/assets/svg/teacher-granted-default.svg');
}

.roster-table .student-granted {
  background-image: url('../icon/assets/svg/student-granted-active.svg');
}

.roster-table .student-no_granted {
  background-image: url('../icon/assets/svg/student-granted-default.svg');
}

.roster-table .on-podium {
  background-image: url('../icon/assets/svg/teacher-on-podium.svg');
}

.roster-table .off-podium {
  background-image: url('../icon/assets/svg/teacher-off-podium.svg');
}

.roster-table .student-on-podium {
  background-image: url('../icon/assets/svg/student-on-podium.svg');
}

.roster-table .student-off-podium {
  background-image: url('../icon/assets/svg/student-off-podium.svg');
}

.roster-table .camera-disabled,
.roster-table .mic-disabled {
  color: #f04c36;
}

.roster-table .star {
  color: #979797;
}

.student-username {
  display: flex;
}

.roster-table {
  color: #7b88a0;
  transform: translateY(-4px);
  position: relative;
  display: inline-block;
}


.star-nums {
  color: #7b88a0;
  transform: translateY(3px);
  position: relative;
  display: inline-block;
}

.roster-table .kick-out {
  @apply rounded-full text-center cursor-pointer inline-block;
  color: #7b88a0;
  height: 32px;
  width: 32px;
}

.roster-table .camera-enabled, .roster-table .mic-enabled {
  @apply rounded-full text-center cursor-pointer inline-block;
  height: 32px;
  width: 32px;
}

.roster-table .camera-enabled:hover, .roster-table .mic-enabled:hover {
  background-color: #e7e7f3;
}

.roster-table .inline-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.roster-table .operate-status{
  color: #979797;
} 
.roster-table .un-active{
  color: #979797;
} 
.roster-table .icon-active{
  color: #0073FF;
}
.roster-table .media-un-active{
  color: #F04C36;
}
.roster-table .un-operate-status{
  color: #BDBDCA;
}

.search-teacher-name {
  height: 30px;
  display: flex;
  align-items: center;
}

.search-teacher-name label {
  color: #7B88A0;
}

.search-teacher-name .roster-username {
  margin: 0;
}

.search-header .input-search-wrapper {
  height:34px;
}

.search-header .input-search-wrapper .input-prefix {
  opacity: 0.5;
}

.roster-button-group {
  padding: 5px 0;
  @apply flex flex-row items-center justify-around;
}

.roster-button-group > button {
  outline: none;
  border: none;
  width: 80px;
  height: 32px;
  background: #EFEFEF;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #2D353A;
}

.roster-button-group > button:hover {
  border: 1px solid #38AE48;
  color: #38AE48;
}

.roster-user-list-wrap .table-container {
  height: 100% !important;
}

.roster-user-list-wrap .table-col-item:first-child{
  width: 160px !important;
  flex: none !important;
}

.roster-user-list-wrap .table-col-item > span > img{
  width: 19px;
  height: 19px;
  cursor: pointer;
}