.layout {
  @apply flex;
}

.layout-row {
  @apply flex-row;
}

.layout-col {
  @apply flex-col;
}

.layout-content {
  @apply flex flex-row flex-1 h-full;
  position: relative;
}

.layout-header {
  @apply flex flex-row justify-between items-center w-full;
  height: 44px;
  flex-shrink: 0;
}

.layout-aside {
  @apply flex flex-col border-l border-gray-100 h-full;
  /* width: 19rem; */
  min-width: 360px;
  border-left: none;
  @apply overflow-hidden;
}
